/* BUTTONS AND INPUTS */
.btn-big button, input[type=button] {
    font: 30px Roboto, sans-serif;
    line-height: 59px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 75px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.btn-big button:hover, input[type=button]:hover {
    background-color: #C620FC;
}

.btn-small button, button[type=submit] {
    font: 20px Roboto, sans-serif;
    line-height: 30px;
    align-items: center;
    text-align: center;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-small button:hover, button[type=submit]:hover {
    background-color: #C620FC;
}

input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-color: #C620FC;
}

/* TEXT */
.text-inner-shadow {
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    text-shadow: 0 1px 1px rgba(198, 32, 252, 0.95);
    text-align: center;
    font: 50px Roboto, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2px;
}

.text-subpage {
    color: #C620FC;
    font-size: 30px;
}

/* PAGES */
/* Admin and student login */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.input-box {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem !important;
}

.alert {
    width: 300px;
    position: relative;
    padding: 1rem 1rem;
    border-radius: .25rem;
    margin: 10px auto 1rem;
    background-color: #F3CFFF;
    border: 1px solid #C620FC;
}

.question-creation,
.user-creation {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

/* Create user */

.create-user-input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem !important;
}
