/* BUTTONS AND INPUTS */
.btn-big button, input[type=button] {
    font: 30px Roboto, sans-serif;
    line-height: 59px;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 75px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.btn-big button:hover, input[type=button]:hover {
    background-color: #C620FC;
}

.btn-small button, button[type=submit] {
    font: 20px Roboto, sans-serif;
    line-height: 30px;
    align-items: center;
    text-align: center;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-small button:hover, button[type=submit]:hover {
    background-color: #C620FC;
}

input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-color: #C620FC;
}

.create-user-input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem !important;
}

.form-control-textarea {
    display:block;
    width:100%;padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:2px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control-textarea:hover{
    border-color: black;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.form-control-textarea:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-color: #C620FC;
}

.input-box {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem !important;
}

/* TEXT */
.text-inner-shadow {
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    text-shadow: 0 1px 1px rgba(198, 32, 252, 0.95);
    text-align: center;
    font: 50px Roboto, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2px;
}

.text-subpage {
    color: #C620FC;
    font-size: 30px;
}

.question-creation,
.user-creation {
    text-align: center;
}

/* ALIGNMENT */
.container-middle-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* MESSAGES */
.alert {
    width: 300px;
    position: relative;
    padding: 1rem 1rem;
    border-radius: .25rem;
    margin: 10px auto 1rem;
    background-color: #F3CFFF;
    border: 1px solid #C620FC;
}

/* LISTS */
ul {
    display: inline-block;
    text-align: left;
}
