<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Knowledge check!</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>20 Questions</h1>
    <ul>
        <!--<li th:each="TestQuestion : ${TestQuestion}">



        <form action="/action_page.php">
            <p>Q1</p>
            <input type="radio" id="a1" name="fav_language" value="1">
            <label for="a1">Answer 1</label><br>
            <input type="radio" id="a2" name="fav_language" value="2">
            <label for="a2">Answer 2</label><br>
            <input type="radio" id="a3" name="fav_language" value="3">
            <label for="a3">Answer 3</label>

            <br>

            <input type="submit" value="Submit">
        </form> -->
    </ul>
</body>
</html> 