<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student menu</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
    <h2 class="text-inner-shadow">Choose a test</h2>
    <div class="btn-big">
        <button>Knowledge Check 1</button>
        <button>Knowledge Check 2</button>
        <button>Knowledge Check 3</button>
        <button>Knowledge Check 4</button>
        <button>Knowledge Check 5</button>
        <button>Knowledge Check 6</button>
        <button>Knowledge Check 7</button>
        <button>Knowledge Check 8</button>
        <button>Knowledge Check 9</button>
        <button>Knowledge Check 10</button>
    </div>

</body>
</html>