<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html style="font-size: 16px;">
<Title>Welcome</Title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<div class="mainContainer">
</div>
<div class="leftContainer">
  <div>
    <h3>
      <a>Welcome to<br>
        <span style="font-size: 3rem;">Bootcamp</span>
        <br>
        <span style="font-size: 3.75rem;">Knowledge check</span>
        <br>
      </a>
    </h3>
  </div>
  <div class="rightContainer">
    <h3>
      <a>Select user type</a>
    </h3>
    <button type="button" class="btn btn-primary">Student</button>
    <button type="button" class="btn btn-primary">Admin</button>
  </div>
</div>
</body>
</html>